{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="{% static "style.css" %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header clearfix">
            <nav>
              <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="{% url 'main_page' %}">Home</a></li>
                <li role="presentation"><a href="{% url 'paste_list' %}">All pastes</a></li>
                <li role="presentation"><a href="{% url 'add_paste' %}">Add Paste</a></li>


                  {% if user.is_authenticated %}
                      <li role="presentation"><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                      <li role="presentation"><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
              </ul>
            </nav>
            <h3 class="text-muted">Project name</h3>
          </div>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>